---
layout: default
---

{% include menu.html %}

<header class="site-masthead">
  {% if site.title %}
  <br>
    <h1>{{ site.title }}</h1>
  {% endif %}
  {% if site.title %}
    <h2>{{ site.description }}</h2>
  {% endif %}
  {% if site.title %}
      <h3>
        <br>
        <a href="https://www.linkedin.com/in/florinasutanto/">linkedin</a>&nbsp&nbsp&nbsp&nbsp&nbsp<a href="https://github.com/retrospatial">github</a>&nbsp&nbsp&nbsp&nbsp&nbsp<a href="mailto:csutanto@wesleyan.edu">email</a>
      </h3>
    {% endif %}
  <br>
</header>

<main class="home" id="main" role="main" aria-label="Content">

  <h1 class="projects-title">PROJECTS</h1>

  <!-- images are 1000 x 680 -->

  <div class="content-container">
    
    <a href="https://florinasutanto.com/tumblr-fandometrics/">
      <div class="text-container">
        <h3>SHIP AND LET SHIP</h3>
        <p class="category">LEDE PROGRAM</p>
        <p>Charting top Tumblr ships using the annual Fandometrics rankings</p>
        <code class="code-1">Beautiful Soup</code>
        <code class="code-2">Pandas</code>
        <code class="code-3">Figma</code>
        <code class="code-4">HTML/CSS</code>
      </div>
      <div class="image-container">
        <img src="assets/images/fandometrics.gif" alt="Fandometrics">
      </div>
    </a>

  </div>

  <div class="content-container">
    
    <a href="https://florinasutanto.com/animorphs/">
      <div class="text-container">
        <h3>THE SEARCH FOR ANIMORPHS</h3>
        <p class="category">LEDE PROGRAM</p>
        <p>A nostalgic look at libraries, maps, and Animorphs</p>
        <code class="code-1">JavaScript</code>
        <code class="code-2">d3.js</code>
        <code class="code-3">Scrollama</code>
        <code class="code-4">Adobe Illustrator</code>
        <code class="code-5">GeoJSON</code>
        <code class="code-6">HTML/CSS</code>
      </div>
      <div class="image-container">
        <img src="assets/images/animorphs.png" alt="Animorphs">
      </div>
    </a>

  </div>

  <div class="content-container">
    
    <!-- <a href="https://florinasutanto.com/animorphs/"> -->
      <div class="text-container">
        <h3>FORMULA 1</h3>
        <p class="category">DATA VIZ CLASS</p>
        <p>Visualizing the demographic and geographic evolution of Formula 1</p>
        <code class="code-1">RStudio</code>
        <code class="code-2">Shiny</code>
      </div>
      <div class="image-container">
        <img src="assets/images/car.png" alt="Ferrari">
      </div>
    <!-- </a> -->

  </div>

  <div class="content-container">
    
    <a href="https://arcg.is/148SmD">
      <div class="text-container">
        <h3>JAPAN AND THE WEST</h3>
        <p class="category">DIGITAL SCHOLARSHIP FELLOWSHIP</p>
        <p>Tracing the history of Japanese loanwords in English</p>
        <code class="code-1">ArcGIS StoryMaps</code>
        <code class="code-2">Tableau</code>
        <code class="code-3">Beautiful Soup</code>
        <code class="code-4">Pandas</code>
      </div>
      <div class="image-container">
        <img src="assets/images/japan.png" alt="Japan">
      </div>
    </a>

  </div>
  <br><br><br>
  <h1 class="scraps-title">SCRAPS</h1>

  <p class="desc">unfinished; abandoned; is it really going to take me a year to learn d3.js?</p>

  <div class="content-container">
    
    <a href="https://florinasutanto.com/buffy-podcasts/">
      <div class="text-container">
        <h3>ARE PEOPLE STILL TALKING ABOUT BUFFY?</h3>
        <p class="category">LEDE PROGRAM</p>
        <p>Let's look at Spotify podcast data to find out</p>
        <code class="code-1">Spotify API</code>
        <code class="code-2">Datawrapper</code>
        <code class="code-3">Tableau</code>
        <code class="code-4">HTML/CSS</code>
      </div>
      <div class="image-container">
        <img src="assets/images/buffy.png" alt="Buffy">
      </div>
    </a>

  </div>

  <div class="content-container">
    
    <a href="https://florinasutanto.com/summer-blockbusters/">
      <div class="text-container">
        <h3>SUMMER | FALL | WINTER | SPRING BLOCKBUSTERS</h3>
        <p class="category">LEDE PROGRAM</p>
        <p>Is there truth to the term 'summer blockbusters'?</p>
        <code class="code-1">JavaScript</code>
        <code class="code-2">d3.js</code>
        <code class="code-3">Adobe Illustrator</code>
        <code class="code-4">HTML/CSS</code>
      </div>
      <div class="image-container">
        <img src="assets/images/block.gif" alt="Blockbusters">
      </div>
    </a>

  </div>

</main>
